
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background: linear-gradient(135deg, #153677, #4e085f); */
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.todo-app {
    text-align: center;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-top: 20px;
}

.row input[type="text"]{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
}
.row input[type="date"] {
    border: none;
    outline: none;
    background: transparent;
    padding: 7px;
    font-size: 14px;
    
}

button {
    border: none;
    outline: none;
    padding: 10px 20px;
    /* background: #ff5945; */
    background-color: #A683E3;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #855fc7;
}

ul li {
    display: flex;
    position: relative;
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

ul li:last-child {
    border-bottom: none;
}

ul li::before {
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: #555;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

ul li span:hover {
    background-color: #edeef0;
    
}

.category {
    display: flex;
    padding: 0.5rem;
    width: fit-content;
    border-radius: 6px;
    margin-top: 20px;
}

.disable {
    cursor: not-allowed;
    pointer-events: none;
}

